#logo {
  width: 30px;
  height: 30px;
}

#content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}

#controls {
  grid-row: 1;
  grid-column: 1;
}

#notes {
  grid-row: 2;
  grid-column: 1;
  vertical-align: top;
}

#notes p {
  padding: 6px;
  margin: 0;
}

#details {
  grid-row: 1/3;
  grid-column: 2;
}

.note-listitem:hover {
  background: lightgrey;
}

.note-listitem-selected {
  border-bottom: 1px solid lightcoral;
  background: rgba(240, 128, 128, 0.1);
}

#note-title {
  width: 100%;
  border: none;
  border-bottom: 2px solid lightgray;
}

#note-content {
  width: 100%;
  border: none;
}

#details {
  display: none;
  height: 90vh;
}