body {
  font-family: "Prata", Georgia, "Times New Roman", serif;
  margin: 0;
  font-weight: 500;
  color: #333;
  line-height: 2em;
}

#header-layer section {
  width: 100%;
  padding: 10vw 0 10vw 0;
}

#header-layer section h1,
#header-layer section h6 {
  margin: 0 5vw;
}

h1,
h6 {
  padding-bottom: 10px;
  color: #333;
  text-shadow: 1px 1px lightgray;
}

h1 {
  font-size: 8vw;
  font-family: "Prata", Georgia, "Times New Roman", serif;
  font-weight: 500;
  margin: 0;
  line-height: 1.3em;
}

h2 {
  font-family: "Prata", Georgia, "Times New Roman", serif;
  font-size: 50px;
  line-height: 1.5em;
  font-weight: 500;
  color: #333;
  margin: 0;
}

h3 {
  font-family: "Prata", Georgia, "Times New Roman", serif;
  font-size: 24px;
  line-height: 1.3em;
  color: #333;
  font-weight: 500;
}

h4 {
  font-size: 26px;
}

h6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  line-height: 2em;
  font-size: 14px;
}

p {
  color: rgba(0, 0, 0, 0.7);
}

.top-bloc {
  margin-top: 26px;
  margin-bottom: -224px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  padding: 54px 0;
}

.container-full {
  margin-left: 80px;
  margin-right: 80px;
  padding: 54px 0;
}

.container-big {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding: 54px 0;
}

#header-layer {
  background-image: url(img/top-layer.png);
  width: 100%;
  position: relative;
  max-width: 100%;
}

#header-picture {
  background-image: url(./img/selfie.jpg);
  background-position: 50% 55%;
  background-size: cover;
  position: relative;
}

#story {
  padding-top: 315px;
  background-color: #f8f4f3;
}

#story > .container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 466px;
}

#story-text {
  grid-column: 1;
}

#story-pictures {
  grid-column: 2;
  display: inline;
  position: relative;
  background-color: rgba(138, 178, 211, 0.24);
}

#story-image-bg {
  background-size: contain;
  background-position: bottom center;
  background-image: url(img/engagement-bg.png);
  width: 100%;
  height: 233px;
  margin-top: -69px;
}

#story-image-1 {
  width: 60%;
  height: 74%;
  z-index: 2;
  background-size: cover;
  background-position: bottom center;
  background-image: url(img/our-story-1.jpg);
  position: relative;
  bottom: 5%;
}

#story-image-2 {
  width: 62%;
  height: 58%;
  z-index: 3;
  background-size: cover;
  background-position: bottom center;
  background-image: url(img/our-story-2.jpg);
  position: absolute;
  bottom: 45%;
  left: 38%;
}

#story-text p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 2em;
  margin-right: 42px;
}

.shadow {
  box-shadow: 0px 40px 40px -20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#grooms {
  background-color: #f8f4f3;
}

#him {
  background: #e9e1de;
  padding-top: 64px;
  margin-top: -10px;
}

#her {
  background-image: url("img/her.jpg");
  background-size: cover;
}

#him,
#her {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
}

#grooms-header {
  height: 280px;
}

.card {
  background-color: #ffffff;
  border-top: 10px solid #333;
  padding: 60px 40px;
}

#grooms #him-introduction {
  margin-right: -20px;
}

#grooms #her-introduction {
  margin-left: -20px;
}

#grooms .container-big {
  padding-bottom: 0;
}

#him-picture {
  background-image: url(img/him.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

#her-picture {
  background-image: url(img/top-layer.png);
  background-position: left center;
  background-size: cover;
}

#us {
  background-color: #f8f4f3;
}

#us-first-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  margin-bottom: 54px;
}

#us-first-grid img {
  display: block;
  max-width: 100%;
}

#us-top-left img {
  width: 100%;
}

#us-top-right {
  background-size: initial;
  background-position: top right;
  background-image: url(img/dotted-square.png);
  height: 100%;
  background-repeat: no-repeat;
  margin-right: 44%;
  display: block;
}

#us-top-right img {
  width: 314px;
  height: 314px;
  margin-top: 76px;
}

#us h2 {
  text-align: center;
  padding: 54px;
}

#us-second-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  margin-bottom: 27px;
  padding: 0 100px;
}

#us-second-grid img {
  display: block;
  max-width: 100%;
}

#us-bottom-left div {
  background-size: initial;
  background-position: bottom left;
  background-image: url(img/dotted-square.png);
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 26%;
}

#us-bottom-left img {
  width: 75%;
  margin-left: auto;
}

#us-bottom-center {
  width: 100%;
}
#us-bottom-right {
  width: 100%;
}
#us-bottom-right div {
  background-size: contain;
  background-position: bottom center;
  background-image: url(img/engagement-bg.png);
  background-color: #fdd6c6;
  padding-bottom: 90px;
  width: 95%;
}
#info {
  background-color: #f8f4f3;
  padding-bottom: 150px;
}
#info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  padding-top: 27px;
}
#info-grid div:nth-child(2) {
  padding-top: 60px;
}
#info-grid div:nth-child(3) {
  padding-top: 120px;
}
#gift {
  text-align: center;
}

#contact .container-full {
  background: url(img/contact-background.png);
  background-size: initial;
  background-position: top center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  border-top-width: 10px;
  border-top-color: #000000;
  border-top-style: solid;
  text-align: center;
  padding: 6vw 5vw;
}

#counter-box {
  width: 700px;
  margin: 0 auto 100px auto;
}

#countdown {
  display: grid;
  grid-template-columns: repeat(7, auto);
}
#countdown p {
  font-size: 60px;
  color: #8ab2d3;
  line-height: 80px;
  margin: 0;
}
#contact-form-box {
  max-width: 600px;
  margin: 100px auto 0 auto;
  text-align: left;
}
#contact-form-box p {
  margin: 0;
}
#contact-form-box div:last-of-type{
  text-align: right;
}
.clear-input {
  width: 100%;
  font-size: 13px;
  line-height: 2em;
  border-width: 0px;
  background-color: rgba(138, 178, 211, 0.07);
  padding: 16px;
  border-radius: 0;
  margin: 0;
  font-family: "Prata", Georgia, "Times New Roman", serif;
  font-weight: 500;
  color: #333;
  margin: 30px 0;
  box-sizing: border-box;
}
.clear-button {
  color: #ffffff !important;
  border-width: 15px !important;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  letter-spacing: 5px;
  font-size: 12px;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  background-color: #8ab2d3;
  cursor: pointer;
  padding: 0 0 0 0;
}